.nav-bar{
    background-color: #181818;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    font-family: "Poppins";

    .logo{
        display: block;
        padding: 8px 0;
        text-decoration: none;

        img{
            display: block;
            margin: 8px auto;
            width: 25px;
            height: auto;
            
        }

        p{
            color: #fff;
            text-align: center;
            font-size: 11px;
            font-family: "Poppins";
            margin-top: -5px;
            
        }
        
    }  

}

nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 42%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      
    }

    a.home-link {
        &:after {
          content: 'HOME';
          font-size: 10px;
        }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
        font-size: 10px;
      }
    }

    a.skill-link{
      &:after {
        content: 'SKILLS';
        font-size: 10px;
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
        font-size: 10px;
      }
    }

    a.work-link {
      &:after {
        content: 'PROJECTS';
        font-size: 10px;
      }
    }

    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
        font-size: 10px;
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }

   
}


 ul {
        list-style: none;
        margin-top: 80px;
        margin-left: -40px;

        li{
            height: 35px;
            
            a{
                font-size: 15px;
            }

            &:hover svg{
                color: #ffd700;
                opacity: 1;
            }
        }


    }

.hamburger-icon, .close-icon {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-bar{
        background-color: yellow;
        width: 80px;
        height: 100%;
        position: absolute;

        nav{
          top: 40%;
        }

        
    }

    ul{
      margin-top: 200%;
    }


}


@media only screen and (max-width: 400px) {

    .nav-bar{
        background-color: red;
        width: 70px;
        height: 100%;
        position: absolute;

        
        nav {
          top: 35%;
        }
    }
}

